{% extends 'base.html' %}

{% block body %}

<h1>Create your account here.</h1>

<form action="/accountCreated">
  <div class="form-group">
  <input type="text" placeholder="email address" /> <br />
  <input type="text" placeholder="full name" /> <br />
  <input type="text" placeholder="Street address 1" /> <br />
  <input type="text" placeholder="Street address 2" /> <br />
  <input type="text" placeholder="state" /> <br />
  <input type="text" placeholder="city" /> <br />
  <input type="text" placeholder="zip code" /> <br />
  <input type="text" placeholder="phone number" /> <br />

  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<a href="/">Link to the main page</a>

{% endblock %}
